<div class="movie__detail__container hidden">
    <div class="banner__container" style="background-image: url('<%-movie.movie_banner%>');">
        <span class="fluid"> <a href="\watch\<%-movie.id%>"><i class="fa-solid fa-play"></i></a></span>
        <button class="close__button borderless fluid"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="movie__detail__content">
        <div class="content__wrapper">
            <div class="movie__title">
                <h1><%-movie.title%></h1>
                <span><%-movie.release_date%></span>
            </div>
            <div class="movie__detail__description">
                <p><%-movie.description%></p>
            </div>
        </div>
        <div class="director__wrapper">
            <span>Director</span> <h3><%-movie.director%></h3>
        </div>
    </div>
    
</div>