<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %> 

    
<body>
    <div id="container">
        <div class="content">
            <%- include("./partials/header") %> 
            <main>
                <div class="cards">
                    <h2>Melhores Filmes</h2>

                    <div class="arrow-left">
                        <img src="assets/l-arrow.png">
                        </div>
    
                        <div class="arrow-right">
                            <img src="assets/r-arrow.png" alt="seta">
                        </div>

                    <div class="cardsArea">
                        <div class="VerticallList">
                            <% movies.forEach((movie,i) => { %>
                                <% if (i == 3 || i == 7 || i == 8 || i == 10 || i== 12 || i == 14 || i == 18) { %>
                                    <a href=<%= `/movie/${movie.id}`%> class="VerticalCard">
                                        <img src= <%= movie.image%>  alt= <%= movie.tittle%> >
                                    </a>            
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                </div>
                  
                <div class="cards">
                    <h2>Hayao Myiazaki</h2>

                    <div class="arrow-left-horizontal" id="h-l-arrow" readonly>
                    <img src="assets/l-arrow.png" alt="seta" readonly>
                    </div>

                    <div class="arrow-right-horizontal" id="h-r-arrow" readonly>
                        <img src="assets/r-arrow.png" alt="seta" readonly>
                    </div>

                    <div class="cardsArea">
                        <div class="cardsList">
                            <% movies.forEach(movie => { %>
                                <% if (movie.director == "Hayao Miyazaki") { %>
                                    <a href=<%= `movie/${movie.id}`%> class="HorizontalCard">
                                        <img src= <%= movie.movie_banner%>  alt= <%= movie.tittle%> id="photo">
                                    </a>
                                <% } %>
                            <% }) %>                            
                        </div>
                        
                    </div>                 
                </div>

                <div class="cards">
                    <h2>Isao Takahata</h2>

                    <div class="arrow-left-horizontal" id="i-l-arrow" readonly>
                    <img src="assets/l-arrow.png" alt="seta" readonly>
                    </div>

                    <div class="arrow-right-horizontal" id="i-r-arrow" readonly>
                        <img src="assets/r-arrow.png" alt="seta" readonly>
                    </div>

                    <div class="cardsArea">
                        <div class="cardsList">
                            <div class="cardsList">
                                <% movies.forEach(movie => { %>
                                    <% if (movie.director == "Isao Takahata") { %>
                                        <a href=<%= `movie/${movie.id}`%> class="HorizontalCard">
                                            <img src= <%= movie.movie_banner%>  alt= <%= movie.tittle%> id="photo">
                                        </a>
                                    <% } %>
                                <% }) %> 
                        </div>
                    </div>                 
                </div>
                
                <div class="cards">
                    <h2>Outros</h2>

                    <div class="arrow-left-horizontal" id="o-l-arrow" readonly>
                    <img src="assets/l-arrow.png" alt="seta" readonly>
                    </div>

                    <div class="arrow-right-horizontal" id="o-r-arrow" readonly>
                        <img src="assets/r-arrow.png" alt="seta" readonly>
                    </div>

                    <div class="cardsArea">
                        <div class="cardsList">
                            <% movies.forEach(movie => { %>
                                <% if (movie.director != "Isao Takahata" && movie.director != "Hayao Miyazaki") { %>
                                    <a href=<%= `movie/${movie.id}`%> class="HorizontalCard">
                                        <img src= <%= movie.movie_banner%>  alt= <%= movie.tittle%> id="photo">
                                    </a>
                                <% } %>
                            <% }) %> 
                        </div>
                    </div>                 
                </div>

            </main>
        </div>        
    </div>

    <script src="scripts/scrooll.js"></script>
</body>
</html>